<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Education Tutorial Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--bootstrap-->
<link href="http://localhost:8080/application/views/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!--coustom css-->
<link href="http://localhost:8080/application/views/home/css/style.css" rel="stylesheet" type="text/css"/>
<!--script-->
<script src="http://localhost:8080/application/views/home/js/jquery-1.11.0.min.js"></script>
<!-- js -->
<script src="http://localhost:8080/application/views/home/js/bootstrap.js"></script>
<!-- /js -->
<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,400,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--/fonts-->
<!--hover-girds-->
<link rel="stylesheet" type="text/css" href="http://localhost:8080/application/views/home/css/default.css" />
<link rel="stylesheet" type="text/css" href="http://localhost:8080/application/views/home/css/component.css" />
<script src="http://localhost:8080/application/views/home/js/modernizr.custom.js"></script>
<!--/hover-grids-->
<script type="text/javascript" src="http://localhost:8080/application/views/home/js/move-top.js"></script>
<script type="text/javascript" src="http://localhost:8080/application/views/home/js/easing.js"></script>
<!--script-->
<script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
                });
            });
</script>
<!--/script-->
</head>
    <body>
<!--header-->
        <div class="header" id="home">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                    </button>
                    <h1><a class="navbar-brand" href="http://localhost:8080/application/views/home/index.html">Education<br /><span>Tutorial</span></a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right margin-top cl-effect-2">
                                <li><p style="position:absolute;left:-150px;top:23px"><font color="white">欢迎，xxx</font></p></li>
                                <li><a href="http://localhost:8080/application/views/home/index.html"><span data-hover="first_page">首页</span></a></li>
                                <li><a href="http://localhost:8080/application/views/home/about.html"><span data-hover="choose_course">选课</span></a></li>
                                <li><a href="http://localhost:8080/application/views/home/typography.html"><span data-hover="course">已选课程</span></a></li>
                                <li><a href="http://localhost:8080/application/views/home/gallery.html"><span data-hover="blog">博客</span></a></li>
                                <li><a href="http://localhost:8080/application/views/home/contact.html"><span data-hover="information">个人信息</span></a></li>
                            </ul>
                            <div class="clearfix"> </div>
                        </div><!-- /.navbar-collapse -->
                <!-- /.container-fluid -->
                <div class="login-pop">
                        <div id="loginpop"><a href="#" id="logoutButton"><span>Login out</span></a>
                        </div>
                        </div><script src="http://localhost:8080/application/views/home/js/menu_jquery.js"></script>
                        </div>
            </nav>
<!--/script-->
           <div class="clearfix"> </div>
</div>
<!-- Top Navigation -->
<div class="background_img">
    <div class="container">
    <script src="http://localhost:8080/application/views/home/js/responsiveslides.min.js"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
        auto: true,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
</div>
    </div>
<!--header-->
<!--testmonials-->
<div class="user_background">
    <div class="container">
            <div class="testimonial-nfo">
                <h3>Testimonials</h3>
                <h5>Cras porttitor imperdiet volutpat nulla malesuada lectus eros <span>ut convallis felis consectetur ut </span></h5>
            </div>
            <div class="testimonial-grids">
                <div class="testimonial-grid">
                    <p><span>"</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum iaculis diam quis sodales. Vestibulum eu dui tellus. In viverra porttitor auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas<span> "</span></p>
                </div>
            </div>
    </div>
</div>
<!--\testmonials-->
<!--specfication-->
<div class="news">
        <div class="container">
            <div class="news-text">
                <h3>Latest News</h3>
                <p>Cras porttitor imperdiet volutpat nulla malesuada lectus eros<br /><span>ut convallis felis consectetur ut </span></p>
            </div>
            <div class="news-grids">
                <div class="col-md-3 news-grid">
                    <a href="#"><h4>Integer vitae ligula sed lectus</h4></a>
                    <span>8.00 - 10.00 | JUN 09,2015</span>
                    <a href="#" class="mask"><img src="http://localhost:8080/application/views/home/images/img1.jpg" alt="image" class="img-responsive zoom-img"></a>
                    <div class="news-info">
                        <p>Pellentesque ut urna eu mauris scele risque auctor volutpat et massa pers piciis iste natus scele risque auctor volutpat et massa.</p>
                    </div>
                </div>
                <div class="col-md-3 news-grid">
                    <a href="#"><h4>Integer vitae ligula sed lectus</h4></a>
                    <span>10.00 - 12.00 | sep 24,2015</span>
                    <a href="#" class="mask"><img src="http://localhost:8080/application/views/home/images/img2.jpg" alt="image" class="img-responsive zoom-img"></a>
                    <div class="news-info">
                        <p>Pellentesque ut urna eu mauris scele risque auctor volutpat et massa pers piciis iste natus scele risque auctor volutpat et massa.</p>
                    </div>
                </div>
                <div class="col-md-3 news-grid">
                    <a href="#"><h4>Integer vitae ligula sed lectus</h4></a>
                    <span>9.00 - 10.00 | FEB 15,2015</span>
                    <a href="#" class="mask"><img src="http://localhost:8080/application/views/home/images/img3.jpg" alt="image" class="img-responsive zoom-img"></a>
                    <div class="news-info">
                        <p>Pellentesque ut urna eu mauris scele risque auctor volutpat et massa pers piciis iste natus scele risque auctor volutpat et massa.</p>
                    </div>
                </div>
                <div class="col-md-3 news-grid">
                    <a href="#"><h4>Integer vitae ligula sed lectus</h4></a>
                    <span>11.00 - 10.00 | JUN 10,2015</span>
                    <a href="#" class="mask"><img src="http://localhost:8080/application/views/home/images/img4.jpg" alt="image" class="img-responsive zoom-img"></a>
                    <div class="news-info">
                        <p>Pellentesque ut urna eu mauris scele risque auctor volutpat et massa pers piciis iste natus scele risque auctor volutpat et massa.</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
<!--/specfication-->
<!--footer-->
<div class="footer">
        <!-- container -->
        <div class="container">
            <div class="col-md-6 footer-left">
                <ul>
                    <li><a href="http://localhost:8080/application/views/home/index.html">Home</a></li>
                    <li><a href="http://localhost:8080/application/views/home/about.html">About</a></li>
                    <li><a href="http://localhost:8080/application/views/home/typography.html">Shortcodes</a></li>
                    <li><a href="http://localhost:8080/application/views/home/gallery.html">Gallery</a></li>
                    <li><a href="http://localhost:8080/application/views/home/contact.html">Contact</a></li>
                </ul>
                <form>
                    <input type="text" placeholder="Email" required="">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="col-md-3 footer-middle">
                <h3>Address</h3>
                <div class="address">
                    <p>756 gt globel Place,
                        <span>CD-Road,M 07 435.</span>
                    </p>
                </div>
                <div class="phone">
                    <p>+1(100)2345-6789</p>
                </div>
            </div>
            <div class="col-md-3 footer-right">
                <h3>Book Info</h3>
                <p>Proin eget ipsum ultrices, aliquet velit eget, tempus tortor. Phasellus non velit sit amet diam faucibus molestie tincidunt efficitur nisi.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //container -->
    </div>
<!--/footer-->
<!--copy-rights-->
<div class="copyright">
        <!-- container -->
        <div class="container">
            <div class="copyright-left">
            <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
            </div>
            <div class="copyright-right">
                <ul>
                    <li><a href="#" class="twitter"> </a></li>
                    <li><a href="#" class="twitter facebook"> </a></li>
                    <li><a href="#" class="twitter chrome"> </a></li>
                    <li><a href="#" class="twitter pinterest"> </a></li>
                    <li><a href="#" class="twitter linkedin"> </a></li>
                    <li><a href="#" class="twitter dribbble"> </a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>

        </div>
        <!-- //container -->
        <!---->
<script type="text/javascript">
        $(document).ready(function() {
                /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
                */
        $().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!---->
    </div>
<!--/copy-rights-->
    </body>
</html>
