<!DOCTYPE HTML>
<html>
<head>
<title>About</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Study Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
<script src="js/menu_jquery.js"></script>
</head>
<body>
<!--header start here-->
<div class="header1">
	<div class="container">
		 <div class="header-main">
				<!---->
					<div class="header-logo">
						<div class="logo">
						<a href="index.html"><img src="images/lo1.png" alt="" ></a>
						</div>
						<div class="top-nav">
							<span class="icon"><img src="images/menu.png" alt=""> </span>
							<ul>
								<li ><a href="index.html">Home</a> </li>
								<li ><a href="about.html" >About  </a> </li>
								<li><a href="typo.html"  >Short Codes</a></li>
								<li><a href="galley.html" >Gallery</a></li>
								<li><a href="contact.html" >Contact </a></li>
							</ul>
							<!--script-->
						<script>
							$("span.icon").click(function(){
								$(".top-nav ul").slideToggle(500, function(){
								});
							});
					</script>				
				</div>
				<div class="clearfix"> </div>
					</div>
			<!---->
			<div class="top-menu">					
					<ul>
						<li ><a href="index.html" >Home</a> </li>
						<li ><a href="about.html">About  </a> </li>
						<li><a href="typo.html">Short Codes</a></li>
						<li><a href="index.html"> <img src="images/lo1.png" alt=""> </a></li>
						<li><a href="galley.html">Gallery </a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><div class="header-login">
									 <div class="top-nav-right">
										<div id="loginContainer"><a href="#" id="loginButton"><span>Login</span></a>
											    <div id="loginBox">                
											        <form id="loginForm">
											                <fieldset id="body">
											                	<fieldset>
											                          <label for="email">Email Address</label>
											                          <input type="text" name="email" id="email">
											                    </fieldset>
											                    <fieldset>
											                            <label for="password">Password</label>
											                            <input type="password" name="password" id="password">
											                     </fieldset>
											                    <input type="submit" id="login" value="Sign in">
											                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
											            	</fieldset>
											            <span><a href="#">Forgot your password?</a></span>
												 </form>
									        </div>
									  </div>
								   </div>
		                         </div>	</li>
					</ul>
				</div>
					<!--script-->
	 </div>
   </div>
</div>
<!--header end here-->
<!--about start here-->
<div class="about">
	<div class="container">
		<div class="about-main">
			    <div class="about-top">
					<h2>About</h2>
					<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas tristique orci ac sem. Duis ultricies pharetra</p>
				</div>
				<div class="about-bottom">
					<div class="col-md-7 about-left">
						<h6><a href="single.html">Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci donec.</a></h6>
						<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna
						Maecenas tristique orci ac sem. Duis ultricies pharetra magna Donec accumsan malesuada orci.</p>
					</div>
					<div class="col-md-5 about-right">
						<a href="single.html" >
							<img src="images/1.jpg" alt="" class="img-responsive ">
						</a>								
					</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="team-mem">
			 <h1>Our Team</h1>
			<div class="col-md-3 team-grid">
				<img src="images/t1.jpg"  alt="" class="img-responsive">
				    <ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
					</ul>
			</div>
			<div class="col-md-3 team-grid">
				<img src="images/t2.jpg"  alt="" class="img-responsive">
				    <ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
					</ul>
			</div>
			<div class="col-md-3 team-grid">
				<img src="images/t3.jpg"  alt="" class="img-responsive">
				    <ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
					</ul>
			</div>
			<div class="col-md-3 team-grid">
				<img src="images/t4.jpg"  alt="" class="img-responsive">
				     <ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
					</ul>
			</div>
		   <div class="clearfix"> </div>
		</div>
		</div>
		<div class="advantages">
			<div class="container">
				<div class="advantage-main">
					<div class="advance-top">
						<h3>Advantages</h3>
					</div>
					<div class="advance-bottom">
					   <div class="col-md-6 advantage-left">
					   	<div class="advanc-grid">
					   	  <div class="col-md-3 advanc-icons">
					   		<img src="images/a1.png" alt="">
					   	  </div>
					   	  <div class="col-md-9 advanc-text">
					   		<h4>Open Access</h4>
					   		<p>Praesent nunc nunc, egestas eget elementum sed; rutrum eget metus! Vestibulum congue congue dui</p>
					   	  </div>
					   	  <div class="clearfix"> </div>
					   	</div>
					   	<div class="advanc-grid">
					   	  <div class="col-md-3 advanc-icons">
					   		<img src="images/a2.png" alt="">
					   	  </div>
					   	  <div class="col-md-9 advanc-text">
					   		<h4>Open Access</h4>
					   		<p>Praesent nunc nunc, egestas eget elementum sed; rutrum eget metus! Vestibulum congue congue dui</p>
					   	  </div>
					   	  <div class="clearfix"> </div>
					   	</div>
					   </div>
					   <div class="col-md-6 advantage-right">
					   	<div class="advanc-grid">
					   	  <div class="col-md-3 advanc-icons">
					   		 <img src="images/a3.png" alt="">
					   	  </div>
					   	  <div class="col-md-9 advanc-text">
					   		<h4>Open Access</h4>
					   		<p>Praesent nunc nunc, egestas eget elementum sed; rutrum eget metus! Vestibulum congue congue dui</p>
					   	  </div>
					   	  <div class="clearfix"> </div>
					   	</div>
					   	<div class="advanc-grid">
					   	  <div class="col-md-3 advanc-icons">
					   		 <img src="images/a4.png" alt="">
					   	  </div>
					   	  <div class="col-md-9 advanc-text">
					   		<h4>Open Access</h4>
					   		<p>Praesent nunc nunc, egestas eget elementum sed; rutrum eget metus! Vestibulum congue congue dui</p>
					   	  </div>
					   	  <div class="clearfix"> </div>
					   	</div>
					   </div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--about end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			 <div class="col-md-4 ftr-grid">
			 	<div class="ftr-grid-left">
			 	    <img src="images/location.png" alt="">
			 	</div>
			 	<div class="ftr-grid-right">
			 		<p>7556 gt globel Place <span class="local">CD-road,M 07 435.</span></p>
			 	</div>
			   <div class="clearfix"> </div>
			 </div>
			 <div class="col-md-4 ftr-grid">
			 	 <div class="ftr-grid-left">
			 	    <img src="images/email.png" alt="">
			 	</div>
			 	<div class="ftr-grid-right">
			 		<p><a href="#">mail@user.com</a><span class="local">saepe eveniet</span></p>
			 	</div>
			   <div class="clearfix"> </div>
			 </div>
			 <div class="col-md-4 ftr-grid">
			 	 <div class="ftr-grid-left">
			 	    <img src="images/phone.png" alt="">
			 	</div>
			 	<div class="ftr-grid-right">
			 		<p>+1234 567 9871 <span class="local">+1204 859 6598</span></p>
			 	</div>
			   <div class="clearfix"> </div>
			 </div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--footer end here-->
<!--copyright start here-->
<div class="copyright">
	<div class="container">
		<div class="copyright-main">
			   <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--copyright end here-->
</body>
</html>